<form action="/lists/<%=@list.id%>/edit" method="POST">
  <input type="hidden" name="_method" value="patch">

<h2><%= @list.name %></h2>

<i>check off completed tasks</i> <br><br>

<%@list.tasks.each do |task| %>

    <input type="checkbox" name="list[task_ids][]" value="<%= task.id %>"
    <p><a href="/task/<%=task.id%>/edit"><%=task.name%></a></p>
<% end %>


<input type="submit" value="Submit">
<br></br>
<a href="/show">Back to your lists page</a>

</form>
